# Pronóstico adaptativo

## Descripción del problema real

Los pronósticos de los precios de la electricidad en mercados liberalizados son un insumo fundamental para la toma de decisiones dentro de las organizaciones. Fundamentalmente, los pronosticos de corto plazo son utilizados en decisiones de carácter operativo. En el caso abordado, es necesario contar con los pronósticos para definir la politica de operación de una empresa del sector eléctrico.

## Descripción del problema en términos de los datos

La carpeta `datos/precios/` contiene los precios historicos horarios de la electricidad en la Bolsa de Energía del mercado eléctrico colombiano, publicados por el operador del mercado. Se desean obtener pronósticos para el precio promedio diario para los próximos siete (7) días a la fecha actual.

## Aproximaciones posibles

En este caso, se desea evaluar la capacidad de pronóstico de un ADALINE con aprendizaje en línea.

## Requerimientos

Usted debe:

* Procesar los datos históricos para conformar el conjunto de datos. Los archivos de Excel no pueden ser modificados y actualizados directamente por el operador del sistema. Su código debe leer los archivos y crear la serie de precios promedio diarios de la electricidad.


* Determinar si el modelo debe pronosticar los precios promedios sin ninguna transformación, o si la inclusión de una transformación (logaritmo natural, raíz cúbica, raíz cuadrada, etc) resulta en un incremento de la precisión del pronóstico.


* Generar el pronóstico para los precios de los próximos siete días.


* Preparar el código para que el modelo sea entrenado usando el gradiente y el momentum.


* Determinar cuál es el número óptimo de retardos (observaciones) que el modelo debe considerar hacia atrás para producir el pronóstico.


* Determinar los valores óptimos de la tasa de aprendizaje y el momentum.

In [45]:
from os import scandir,getcwd
import pandas as pd

DIR = 'datos/precios/'
archivos = scandir(DIR)
data = pd.DataFrame()
for archivo in archivos:
    print(archivo.name)
    auxdata = pd.read_excel(DIR + archivo.name,header=None,names=['fecha'] + [str(i)for i in range(1,25)],index=True)
    print(auxdata.head())
    #auxdata.drop([0,1,2,3],axis=0)
    data = pd.concat([data,auxdata])

Precio_Bolsa_Nacional_($kwh)_1995.xlsx
                                fecha    1      2      3      4      5      6  \
0                                 NaN  NaN    NaN    NaN    NaN    NaN    NaN
1  Precio Bolsa Nacional ($/kWh) 1995  NaN    NaN    NaN    NaN    NaN    NaN
2                                 NaN  NaN    NaN    NaN    NaN    NaN    NaN
3                               Fecha  0.0  1.000  2.000  3.000  4.000  5.000
4                          1995-07-20  NaN  1.073  1.073  1.073  1.073  1.073

       7      8      9  ...      15      16      17      18      19      20  \
0    NaN    NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
1    NaN    NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
2    NaN    NaN    NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
3  6.000  7.000  8.000  ...  14.000  15.000  16.000  17.000  18.000  19.000
4  1.073  1.073  1.074  ...   1.073   1.073   1.073   1.073   1.074   1.897

       21      22      23      24
0     NaN     NaN     NaN     NaN
1     NaN     NaN     NaN     NaN
2     NaN     NaN     NaN     NaN
3  20.000  21.000  22.000  23.000
4   1.897   1.897   1.073   1.073

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2000.xlsx
                                         fecha          1          2  \
NaN                                        NaN        NaN        NaN
NaN         Precio Bolsa Nacional ($/kWh) 2000        NaN        NaN
Fecha                                        0   1.000000   2.000000
2000-01-01                             46.2848  32.284788  32.284788
2000-01-02                             32.2848  32.284788  32.284788

                    3          4          5          6          7          8  \
NaN               NaN        NaN        NaN        NaN        NaN        NaN
NaN               NaN        NaN        NaN        NaN        NaN        NaN
Fecha        3.000000   4.000000   5.000000   6.000000   7.000000   8.000000
2000-01-01  32.284788  32.284788  32.284788  32.284788  32.284788  32.284788
2000-01-02  32.284788  32.284788  32.284788  32.284788  32.284788  32.284788

                    9  ...         15         16         17         18  \
NaN               NaN  ...        NaN        NaN        NaN        NaN
NaN               NaN  ...        NaN        NaN        NaN        NaN
Fecha        9.000000  ...  15.000000  16.000000  17.000000  18.000000
2000-01-01  32.284788  ...  32.284788  32.284788  32.284788  32.284788
2000-01-02  32.284788  ...  32.284788  32.284788  32.284788  32.284788

                   19         20         21         22         23       24
NaN               NaN        NaN        NaN        NaN        NaN      NaN
NaN               NaN        NaN        NaN        NaN        NaN      NaN
Fecha       19.000000  20.000000  21.000000  22.000000  23.000000  Version
2000-01-01  32.284788  32.284788  32.284788  32.284788  32.284788      TX5
2000-01-02  32.284788  50.284788  32.284788  32.284788  32.284788      TX5

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2008.xlsx
                                fecha          1          2          3  \
0  Precio Bolsa Nacional ($/kWh) 2008        NaN        NaN        NaN
1                                 NaN        NaN        NaN        NaN
2                               Fecha   0.000000   1.000000   2.000000
3                          2008-01-01  70.818644  68.313644  66.613644
4                          2008-01-02  70.818644  70.818644  70.818644

           4          5          6          7          8          9  ...  \
0        NaN        NaN        NaN        NaN        NaN        NaN  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2   3.000000   4.000000   5.000000   6.000000   7.000000   8.000000  ...
3  66.613644  66.613644  66.613644  66.318644  66.318644  66.613644  ...
4  66.318644  66.318644  70.818644  72.818644  75.258644  75.258644  ...

          15         16         17         18         19         20  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2  14.000000  15.000000  16.000000  17.000000  18.000000  19.000000
3  66.613644  66.613644  66.613644  66.613644  75.318644  75.318644
4  75.258644  75.258644  75.258644  75.258644  81.318644  81.318644

          21         22         23         24
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2  20.000000  21.000000  22.000000  23.000000
3  75.318644  70.818644  66.613644  66.613644
4  81.318644  80.318644  75.258644  75.258644

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2005.xlsx
                                         fecha          1          2  \
NaN                                        NaN        NaN        NaN
NaN         Precio Bolsa Nacional ($/kWh) 2005        NaN        NaN
Fecha                                        0   1.000000   2.000000
2005-01-01                             69.8214  69.821413  69.821413
2005-01-02                             68.3214  68.321413  68.321413

                    3          4          5          6          7          8  \
NaN               NaN        NaN        NaN        NaN        NaN        NaN
NaN               NaN        NaN        NaN        NaN        NaN        NaN
Fecha        3.000000   4.000000   5.000000   6.000000   7.000000   8.000000
2005-01-01  68.821413  68.821413  68.321413  68.321413  68.321413  68.321413
2005-01-02  68.321413  68.321413  68.321413  68.321413  68.321413  68.321413

                    9  ...         15         16         17         18  \
NaN               NaN  ...        NaN        NaN        NaN        NaN
NaN               NaN  ...        NaN        NaN        NaN        NaN
Fecha        9.000000  ...  15.000000  16.000000  17.000000  18.000000
2005-01-01  68.321413  ...  68.321413  68.321413  68.821413  69.821413
2005-01-02  68.821413  ...  68.321413  68.321413  68.821413  86.821413

                   19         20         21         22         23       24
NaN               NaN        NaN        NaN        NaN        NaN      NaN
NaN               NaN        NaN        NaN        NaN        NaN      NaN
Fecha       19.000000  20.000000  21.000000  22.000000  23.000000  Version
2005-01-01  85.821413  69.821413  69.821413  69.821413  68.821413      TX3
2005-01-02  94.821413  86.821413  86.821413  75.821413  68.821413      TX3

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2014.xlsx
                                                    fecha           1  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2014         NaN         NaN
Fecha      0                                     1.000000    2.000000
2014-01-01 176.699036                          176.699036  154.147036
2014-01-02 110.949774                          110.949774  107.949774

                                                        2           3  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2014         NaN         NaN
Fecha      0                                     3.000000    4.000000
2014-01-01 176.699036                          154.147036  154.147036
2014-01-02 110.949774                          107.949774  110.949774

                                                        4           5  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2014         NaN         NaN
Fecha      0                                     5.000000    6.000000
2014-01-01 176.699036                          123.799036  123.799036
2014-01-02 110.949774                          110.949774  115.949774

                                                        6           7  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2014         NaN         NaN
Fecha      0                                     7.000000    8.000000
2014-01-01 176.699036                          123.799036  123.799036
2014-01-02 110.949774                          153.749774  153.749774

                                                        8           9  ...  \
NaN        NaN                                        NaN         NaN  ...
           Precio Bolsa Nacional ($/kWh) 2014         NaN         NaN  ...
Fecha      0                                     9.000000   10.000000  ...
2014-01-01 176.699036                          123.799036  153.559036  ...
2014-01-02 110.949774                          154.297774  154.297774  ...

                                                       15          16  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2014         NaN         NaN
Fecha      0                                    16.000000   17.000000
2014-01-01 176.699036                          123.799036  123.799036
2014-01-02 110.949774                          154.297774  154.297774

                                                       17          18  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2014         NaN         NaN
Fecha      0                                    18.000000   19.000000
2014-01-01 176.699036                          176.699036  176.699036
2014-01-02 110.949774                          196.063774  204.049774

                                                       19          20  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2014         NaN         NaN
Fecha      0                                    20.000000   21.000000
2014-01-01 176.699036                          176.699036  176.699036
2014-01-02 110.949774                          196.063774  196.063774

                                                       21          22  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2014         NaN         NaN
Fecha      0                                    22.000000   23.000000
2014-01-01 176.699036                          154.147036  154.147036
2014-01-02 110.949774                          154.297774  153.749774

                                                    23          24
NaN        NaN                                     NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2014      NaN         NaN
Fecha      0                                   Version         NaN
2014-01-01 176.699036                              TX3  148.380036
2014-01-02 110.949774                              TX3  148.838191

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2009.xlsx

                                fecha           1           2           3  \
0  Precio Bolsa Nacional ($/kWh) 2009         NaN         NaN         NaN
1                                 NaN         NaN         NaN         NaN
2                               Fecha    0.000000    1.000000    2.000000
3                          2009-01-01  163.069981  163.069981  163.069981
4                          2009-01-02   99.369981   69.369981   69.369981

            4           5           6           7           8           9  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2    3.000000    4.000000    5.000000    6.000000    7.000000    8.000000
3  161.712981  161.712981  161.712981  159.369981  159.369981  159.369981
4   69.369981   69.369981   90.888981   99.369981  144.359981  157.369981

   ...          15          16          17          18          19  \
0  ...         NaN         NaN         NaN         NaN         NaN
1  ...         NaN         NaN         NaN         NaN         NaN
2  ...   14.000000   15.000000   16.000000   17.000000   18.000000
3  ...  161.712981  161.712981  161.712981  161.712981  163.069981
4  ...  158.369981  158.369981  158.369981  158.369981  161.869981

           20          21          22          23          24
0         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN
2   19.000000   20.000000   21.000000   22.000000   23.000000
3  165.369981  164.369981  163.069981  163.069981  161.712981
4  163.269981  161.869981  161.712981  158.369981  157.369981

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2011.xlsx
                                                   fecha          1  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2011        NaN        NaN
Fecha      0                                    1.000000   2.000000
2011-01-01 88.106093                           86.106093  65.106093
2011-01-02 36.224485                           36.224485  36.223485

                                                       2          3  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2011        NaN        NaN
Fecha      0                                    3.000000   4.000000
2011-01-01 88.106093                           65.106093  52.106093
2011-01-02 36.224485                           36.223485  36.223485

                                                       4          5  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2011        NaN        NaN
Fecha      0                                    5.000000   6.000000
2011-01-01 88.106093                           52.106093  52.106093
2011-01-02 36.224485                           36.223485  34.838485

                                                       6          7  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2011        NaN        NaN
Fecha      0                                    7.000000   8.000000
2011-01-01 88.106093                           52.106093  52.106093
2011-01-02 36.224485                           36.223485  36.224485

                                                       8          9  ...  \
NaN        NaN                                       NaN        NaN  ...
           Precio Bolsa Nacional ($/kWh) 2011        NaN        NaN  ...
Fecha      0                                    9.000000  10.000000  ...
2011-01-01 88.106093                           52.106093  52.106093  ...
2011-01-02 36.224485                           36.224485  63.560485  ...

                                                      15         16  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2011        NaN        NaN
Fecha      0                                   16.000000  17.000000
2011-01-01 88.106093                           52.106093  65.106093
2011-01-02 36.224485                           63.560485  79.560485

                                                      17         18  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2011        NaN        NaN
Fecha      0                                   18.000000  19.000000
2011-01-01 88.106093                           96.106093  96.106093
2011-01-02 36.224485                           94.560485  94.560485

                                                      19         20  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2011        NaN        NaN
Fecha      0                                   20.000000  21.000000
2011-01-01 88.106093                           96.106093  96.106093
2011-01-02 36.224485                           94.560485  94.560485

                                                      21         22       23  \
NaN        NaN                                       NaN        NaN      NaN
           Precio Bolsa Nacional ($/kWh) 2011        NaN        NaN      NaN
Fecha      0                                   22.000000  23.000000  Version
2011-01-01 88.106093                           86.106093  65.106093      TX4
2011-01-02 36.224485                           83.560485  63.560485      TX4

                                                      24
NaN        NaN                                       NaN
           Precio Bolsa Nacional ($/kWh) 2011        NaN
Fecha      0                                         NaN
2011-01-01 88.106093                           67.022760
2011-01-02 36.224485                           60.112527

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2015.xlsx
                                         fecha           1           2  \
NaN                                        NaN         NaN         NaN
NaN         Precio Bolsa Nacional ($/kWh) 2015         NaN         NaN
Fecha                                        0    1.000000    2.000000
2015-01-01                              184.21  178.210107  178.210107
2015-01-02                             149.481  113.981854   84.480854

                     3           4           5           6           7  \
NaN                NaN         NaN         NaN         NaN         NaN
NaN                NaN         NaN         NaN         NaN         NaN
Fecha         3.000000    4.000000    5.000000    6.000000    7.000000
2015-01-01  178.210107  178.210107  178.210107  178.210107  111.699107
2015-01-02  113.981854  113.981854  113.981854  113.981854  184.480854

                     8           9  ...          15          16          17  \
NaN                NaN         NaN  ...         NaN         NaN         NaN
NaN                NaN         NaN  ...         NaN         NaN         NaN
Fecha         8.000000    9.000000  ...   15.000000   16.000000   17.000000
2015-01-01  178.210107  178.210107  ...  178.210107  178.210107  178.210107
2015-01-02  184.480854  190.480854  ...  214.480854  204.480854  204.480854

                    18          19          20          21          22  \
NaN                NaN         NaN         NaN         NaN         NaN
NaN                NaN         NaN         NaN         NaN         NaN
Fecha        18.000000   19.000000   20.000000   21.000000   22.000000
2015-01-01  202.210107  212.210107  184.210107  184.210107  178.210107
2015-01-02  248.480854  248.480854  248.480854  214.480854  190.480854

                    23       24
NaN                NaN      NaN
NaN                NaN      NaN
Fecha        23.000000  Version
2015-01-01  178.210107      TX4
2015-01-02  184.480854      TX4

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2006.xlsx

                                fecha          1          2          3  \
0  Precio Bolsa Nacional ($/kWh) 2006        NaN        NaN        NaN
1                                 NaN        NaN        NaN        NaN
2                               Fecha   0.000000   1.000000   2.000000
3                          2006-01-01  87.778213  77.778213  77.778213
4                          2006-01-02  76.278213  76.278213  76.278213

           4          5          6          7          8          9  ...  \
0        NaN        NaN        NaN        NaN        NaN        NaN  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2   3.000000   4.000000   5.000000   6.000000   7.000000   8.000000  ...
3  77.778213  77.778213  77.778213  75.768213  75.768213  76.278213  ...
4  76.278213  76.278213  76.778213  76.778213  76.778213  76.778213  ...

          15         16         17         18         19         20  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2  14.000000  15.000000  16.000000  17.000000  18.000000  19.000000
3  75.768213  71.278213  69.067213  76.278213  77.778213  87.778213
4  82.778213  82.778213  82.778213  81.768213  87.778213  87.778213

          21         22         23         24
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2  20.000000  21.000000  22.000000  23.000000
3  87.778213  77.778213  77.778213  77.778213
4  87.778213  82.778213  76.778213  76.778213

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2016.xls
                                         fecha           1           2  \
NaN                                        NaN         NaN         NaN
NaN         Precio Bolsa Nacional ($/kWh) 2016         NaN         NaN
Fecha                                        0    1.000000    2.000000
2016-01-01                             480.754  498.753675  393.753675
2016-01-02                              388.17  388.169584  387.169584

                     3           4           5           6           7  \
NaN                NaN         NaN         NaN         NaN         NaN
NaN                NaN         NaN         NaN         NaN         NaN
Fecha         3.000000    4.000000    5.000000    6.000000    7.000000
2016-01-01  393.753675  362.804675  328.753675  193.967675  286.063675
2016-01-02  387.169584  387.169584  387.169584  387.169584  388.169584

                     8           9  ...          15          16          17  \
NaN                NaN         NaN  ...         NaN         NaN         NaN
NaN                NaN         NaN  ...         NaN         NaN         NaN
Fecha         8.000000    9.000000  ...   15.000000   16.000000   17.000000
2016-01-01  327.673675  393.753675  ...  393.753675  393.753675  480.753675
2016-01-02  388.169584  388.169584  ...  392.169584  392.169584  392.169584

                    18          19          20          21          22  \
NaN                NaN         NaN         NaN         NaN         NaN
NaN                NaN         NaN         NaN         NaN         NaN
Fecha        18.000000   19.000000   20.000000   21.000000   22.000000
2016-01-01  480.753675  480.753675  480.753675  480.753675  480.753675
2016-01-02  497.169584  497.169584  497.169584  497.169584  392.169584

                    23       24
NaN                NaN      NaN
NaN                NaN      NaN
Fecha        23.000000  Version
2016-01-01  480.753675      TX3
2016-01-02  388.169584      TX3

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_1999.xlsx
                                fecha         1         2         3         4  \
0                                 NaN       NaN       NaN       NaN       NaN
1  Precio Bolsa Nacional ($/kWh) 1999       NaN       NaN       NaN       NaN
2                                 NaN       NaN       NaN       NaN       NaN
3                               Fecha   0.00000   1.00000   2.00000   3.00000
4                 1999-01-01 00:00:00  32.52995  26.02995  26.02995  25.52995

          5         6         7         8         9  ...        15        16  \
0       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
3   4.00000   5.00000   6.00000   7.00000   8.00000  ...  14.00000  15.00000
4  21.52995  21.52995  21.52995  21.52995  21.52995  ...  21.52995  21.52995

         17        18        19        20        21        22        23  \
0       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3  16.00000  17.00000  18.00000  19.00000  20.00000  21.00000  22.00000
4  21.52995  21.52995  21.52995  21.52995  21.52995  21.52995  21.52995

         24
0       NaN
1       NaN
2       NaN
3  23.00000
4  21.43995

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2017.xls
                                         fecha          1          2  \
NaN                                        NaN        NaN        NaN
NaN         Precio Bolsa Nacional ($/kWh) 2017        NaN        NaN
Fecha                                        0   1.000000   2.000000
2017-01-01                             88.0862  88.086212  88.086212
2017-01-02                              69.269  94.268993  69.268993

                    3          4          5          6          7          8  \
NaN               NaN        NaN        NaN        NaN        NaN        NaN
NaN               NaN        NaN        NaN        NaN        NaN        NaN
Fecha        3.000000   4.000000   5.000000   6.000000   7.000000   8.000000
2017-01-01  79.086212  79.086212  84.086212  62.163212  84.086212  79.086212
2017-01-02  69.268993  69.268993  94.268993  69.268993  89.268993  82.268993

                    9  ...         15         16         17         18  \
NaN               NaN  ...        NaN        NaN        NaN        NaN
NaN               NaN  ...        NaN        NaN        NaN        NaN
Fecha        9.000000  ...  15.000000  16.000000  17.000000  18.000000
2017-01-01  79.086212  ...  84.086212  84.086212  84.086212  88.086212
2017-01-02  89.268993  ...  89.268993  89.268993  89.268993  94.268993

                    19         20         21         22         23       24
NaN                NaN        NaN        NaN        NaN        NaN      NaN
NaN                NaN        NaN        NaN        NaN        NaN      NaN
Fecha        19.000000  20.000000  21.000000  22.000000  23.000000  Version
2017-01-01   88.086212  88.086212  84.086212  84.086212  79.086212      TX3
2017-01-02  104.268993  94.268993  89.268993  89.268993  89.268993      TX3

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2007.xlsx
                                fecha          1          2          3  \
0  Precio Bolsa Nacional ($/kWh) 2007        NaN        NaN        NaN
1                                 NaN        NaN        NaN        NaN
2                               Fecha   0.000000   1.000000   2.000000
3                          2007-01-01  57.598943  56.598943  56.598943
4                          2007-01-02  57.498943  57.498943  57.498943

           4          5          6          7          8          9  ...  \
0        NaN        NaN        NaN        NaN        NaN        NaN  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2   3.000000   4.000000   5.000000   6.000000   7.000000   8.000000  ...
3  56.598943  56.598943  56.598943  56.198943  56.198943  56.198943  ...
4  57.498943  57.498943  57.498943  57.498943  57.598943  57.598943  ...

          15         16         17         18         19         20  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2  14.000000  15.000000  16.000000  17.000000  18.000000  19.000000
3  56.598943  56.198943  56.198943  56.598943  56.598943  57.598943
4  58.098943  57.598943  57.598943  58.098943  68.098943  73.121943

          21         22         23         24
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2  20.000000  21.000000  22.000000  23.000000
3  57.598943  56.598943  56.598943  56.598943
4  68.098943  58.098943  57.598943  57.598943

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2012.xlsx

                                                   fecha          1  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2012        NaN        NaN
Fecha      0                                    1.000000   2.000000
2012-01-01 40.068906                           37.837906  37.837906
2012-01-02 36.007081                           36.007081  36.007081

                                                       2          3  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2012        NaN        NaN
Fecha      0                                    3.000000   4.000000
2012-01-01 40.068906                           37.837906  37.837906
2012-01-02 36.007081                           36.007081  36.007081

                                                       4          5  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2012        NaN        NaN
Fecha      0                                    5.000000   6.000000
2012-01-01 40.068906                           36.108906  36.108906
2012-01-02 36.007081                           36.007081  37.628081

                                                       6          7  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2012        NaN        NaN
Fecha      0                                    7.000000   8.000000
2012-01-01 40.068906                           36.108906  36.108906
2012-01-02 36.007081                           37.629081  48.860081

                                                       8          9  ...  \
NaN        NaN                                       NaN        NaN  ...
           Precio Bolsa Nacional ($/kWh) 2012        NaN        NaN  ...
Fecha      0                                    9.000000  10.000000  ...
2012-01-01 40.068906                           36.108906  37.837906  ...
2012-01-02 36.007081                           59.860081  59.860081  ...

                                                      15         16  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2012        NaN        NaN
Fecha      0                                   16.000000  17.000000
2012-01-01 40.068906                           37.837906  37.837906
2012-01-02 36.007081                           59.860081  59.861081

                                                      17         18  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2012        NaN        NaN
Fecha      0                                   18.000000  19.000000
2012-01-01 40.068906                           60.068906  79.568906
2012-01-02 36.007081                           79.360081  79.360081

                                                      19         20  \
NaN        NaN                                       NaN        NaN
           Precio Bolsa Nacional ($/kWh) 2012        NaN        NaN
Fecha      0                                   20.000000  21.000000
2012-01-01 40.068906                           60.068906  60.068906
2012-01-02 36.007081                           79.360081  79.360081

                                                      21         22       23  \
NaN        NaN                                       NaN        NaN      NaN
           Precio Bolsa Nacional ($/kWh) 2012        NaN        NaN      NaN
Fecha      0                                   22.000000  23.000000  Version
2012-01-01 40.068906                           40.068906  37.837906      TX3
2012-01-02 36.007081                           59.860081  48.860081      TX3

                                                      24
NaN        NaN                                       NaN
           Precio Bolsa Nacional ($/kWh) 2012        NaN
Fecha      0                                         NaN
2012-01-01 40.068906                           42.181114
2012-01-02 36.007081                           54.377581

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2002.xlsx
                                fecha          1          2          3  \
0  Precio Bolsa Nacional ($/kWh) 2002        NaN        NaN        NaN
1                                 NaN        NaN        NaN        NaN
2                               Fecha   0.000000   1.000000   2.000000
3                          2002-01-01  33.441443  32.441443  32.441443
4                          2002-01-02  28.842443  28.842443  28.842443

           4          5          6          7          8          9  ...  \
0        NaN        NaN        NaN        NaN        NaN        NaN  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2   3.000000   4.000000   5.000000   6.000000   7.000000   8.000000  ...
3  31.441443  31.441443  31.441443  31.141443  31.141443  31.141443  ...
4  28.842443  28.842443  28.842443  28.842443  28.842443  28.842443  ...

          15         16         17         18         19         20  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2  14.000000  15.000000  16.000000  17.000000  18.000000  19.000000
3  31.141443  31.141443  31.141443  31.141443  33.441443  33.441443
4  28.974443  28.851443  28.851443  28.851443  33.441443  33.441443

          21         22         23         24
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2  20.000000  21.000000  22.000000  23.000000
3  33.441443  32.441443  32.441443  31.441443
4  33.441443  32.441443  28.974443  28.842443

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2001.xlsx
                                fecha          1          2          3  \
0  Precio Bolsa Nacional ($/kWh) 2001        NaN        NaN        NaN
1                                 NaN        NaN        NaN        NaN
2                               Fecha   0.000000   1.000000   2.000000
3                          2001-01-01  53.727589  53.727589  50.727589
4                          2001-01-02  46.727589  46.727589  46.727589

           4          5          6          7          8          9  ...  \
0        NaN        NaN        NaN        NaN        NaN        NaN  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2   3.000000   4.000000   5.000000   6.000000   7.000000   8.000000  ...
3  50.727589  48.727589  46.727589  46.727589  46.727589  46.727589  ...
4  46.727589  46.727589  46.727589  46.727589  48.727589  54.727589  ...

          15         16         17         18         19         20  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2  14.000000  15.000000  16.000000  17.000000  18.000000  19.000000
3  46.727589  46.727589  46.727589  46.727589  53.727589  55.727589
4  54.727589  54.727589  54.727589  54.727589  82.727589  82.707589

          21         22         23         24
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2  20.000000  21.000000  22.000000  23.000000
3  55.727589  46.727589  48.727589  46.727589
4  82.707589  54.727589  54.727589  52.727589

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2004.xlsx
                                fecha          1          2          3  \
0  Precio Bolsa Nacional ($/kWh) 2004        NaN        NaN        NaN
1                                 NaN        NaN        NaN        NaN
2                               Fecha   0.000000   1.000000   2.000000
3                          2004-01-01  58.391916  57.391916  53.391916
4                          2004-01-02  54.391916  54.391916  53.391916

           4          5          6          7          8          9  ...  \
0        NaN        NaN        NaN        NaN        NaN        NaN  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2   3.000000   4.000000   5.000000   6.000000   7.000000   8.000000  ...
3  53.391916  53.391916  53.391916  52.891916  52.891916  53.391916  ...
4  53.391916  54.391916  54.391916  54.391916  58.391916  59.391916  ...

          15         16         17         18         19         20  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2  14.000000  15.000000  16.000000  17.000000  18.000000  19.000000
3  53.391916  53.391916  53.391916  53.391916  57.391916  58.391916
4  59.391916  59.391916  59.391916  59.391916  63.391916  63.391916

          21         22         23         24
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2  20.000000  21.000000  22.000000  23.000000
3  58.391916  57.391916  53.391916  53.391916
4  63.391916  59.391916  59.391916  58.391916

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2013.xlsx
                                                    fecha           1  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2013         NaN         NaN
Fecha      0                                     1.000000    2.000000
2013-01-01 168.39165                           168.391650  170.550650
2013-01-02 166.706942                          166.706942  166.706942

                                                        2           3  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2013         NaN         NaN
Fecha      0                                     3.000000    4.000000
2013-01-01 168.39165                           150.551650  147.018650
2013-01-02 166.706942                          166.706942  166.706942

                                                        4           5  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2013         NaN         NaN
Fecha      0                                     5.000000    6.000000
2013-01-01 168.39165                           145.051650  145.051650
2013-01-02 166.706942                          196.006942  169.006942

                                                        6           7  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2013         NaN         NaN
Fecha      0                                     7.000000    8.000000
2013-01-01 168.39165                           145.051650  145.051650
2013-01-02 166.706942                          169.006942  172.006942

                                                        8           9  ...  \
NaN        NaN                                        NaN         NaN  ...
           Precio Bolsa Nacional ($/kWh) 2013         NaN         NaN  ...
Fecha      0                                     9.000000   10.000000  ...
2013-01-01 168.39165                           145.051650  145.051650  ...
2013-01-02 166.706942                          172.006942  196.006942  ...

                                                       15          16  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2013         NaN         NaN
Fecha      0                                    16.000000   17.000000
2013-01-01 168.39165                           145.051650  147.018650
2013-01-02 166.706942                          210.006942  196.006942

                                                       17          18  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2013         NaN         NaN
Fecha      0                                    18.000000   19.000000
2013-01-01 168.39165                           170.550650  210.551650
2013-01-02 166.706942                          210.006942  210.006942

                                                       19          20  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2013         NaN         NaN
Fecha      0                                    20.000000   21.000000
2013-01-01 168.39165                           210.551650  170.550650
2013-01-02 166.706942                          210.006942  210.006942

                                                       21          22  \
NaN        NaN                                        NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2013         NaN         NaN
Fecha      0                                    22.000000   23.000000
2013-01-01 168.39165                           168.551650  170.550650
2013-01-02 166.706942                          196.006942  172.006942

                                                    23          24
NaN        NaN                                     NaN         NaN
           Precio Bolsa Nacional ($/kWh) 2013      NaN         NaN
Fecha      0                                   Version         NaN
2013-01-01 168.39165                               TXF  159.908983
2013-01-02 166.706942                              TXF  190.486109

[5 rows x 25 columns]

Precio_Bolsa_Nacional_($kwh)_2018.xls
                                         fecha           1           2  \
NaN                                        NaN         NaN         NaN
NaN         Precio Bolsa Nacional ($/kWh) 2018         NaN         NaN
Fecha                                        0    1.000000    2.000000
2018-01-01                             123.167  123.167294  123.167294
2018-01-02                             104.202  104.201894  104.201894

                     3           4           5           6           7  \
NaN                NaN         NaN         NaN         NaN         NaN
NaN                NaN         NaN         NaN         NaN         NaN
Fecha         3.000000    4.000000    5.000000    6.000000    7.000000
2018-01-01  123.167294  123.167294  123.167294  101.647294  101.647294
2018-01-02  104.201894  104.201894  106.024894  142.201894  119.201894

                     8           9  ...          15          16          17  \
NaN                NaN         NaN  ...         NaN         NaN         NaN
NaN                NaN         NaN  ...         NaN         NaN         NaN
Fecha         8.000000    9.000000  ...   15.000000   16.000000   17.000000
2018-01-01  112.139294  105.990294  ...  123.167294  123.167294  123.167294
2018-01-02  149.201894  143.201894  ...  149.201894  149.201894  149.201894

                    18          19          20          21          22  \
NaN                NaN         NaN         NaN         NaN         NaN
NaN                NaN         NaN         NaN         NaN         NaN
Fecha        18.000000   19.000000   20.000000   21.000000   22.000000
2018-01-01  128.167294  128.167294  128.167294  128.167294  123.167294
2018-01-02  152.201894  152.201894  152.201894  149.201894  149.201894

                    23       24
NaN                NaN      NaN
NaN                NaN      NaN
Fecha        23.000000  Version
2018-01-01  123.167294      TXF
2018-01-02  142.201894      TXF

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2003.xlsx
                                fecha          1          2          3  \
0  Precio Bolsa Nacional ($/kWh) 2003        NaN        NaN        NaN
1                                 NaN        NaN        NaN        NaN
2                               Fecha   0.000000   1.000000   2.000000
3                          2003-01-01  61.787651  61.787651  61.787651
4                          2003-01-02  61.787651  61.787651  61.787651

           4          5          6          7          8          9  ...  \
0        NaN        NaN        NaN        NaN        NaN        NaN  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2   3.000000   4.000000   5.000000   6.000000   7.000000   8.000000  ...
3  61.787651  59.787651  59.787651  57.787651  57.787651  57.787651  ...
4  61.787651  61.787651  61.787651  61.787651  61.787651  61.887651  ...

          15         16         17         18         19         20  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2  14.000000  15.000000  16.000000  17.000000  18.000000  19.000000
3  57.787651  57.787651  57.787651  59.787651  63.787651  63.787651
4  61.887651  61.887651  61.887651  61.887651  64.787651  67.777651

          21         22         23         24
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2  20.000000  21.000000  22.000000  23.000000
3  63.787651  61.787651  61.787651  61.787651
4  64.787651  63.787651  61.887651  61.787651

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_1997.xlsx
                                fecha         1         2         3         4  \
0                                 NaN       NaN       NaN       NaN       NaN
1  Precio Bolsa Nacional ($/kWh) 1997       NaN       NaN       NaN       NaN
2                                 NaN       NaN       NaN       NaN       NaN
3                               Fecha   0.00000   1.00000   2.00000   3.00000
4                 1997-01-01 00:00:00  36.72627  26.65227  26.65227  26.65227

          5         6         7         8         9  ...        15        16  \
0       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN  ...       NaN       NaN
3   4.00000   5.00000   6.00000   7.00000   8.00000  ...  14.00000  15.00000
4  26.65227  26.65227  17.22627  17.22627  21.72627  ...  26.22627  16.72627

         17        18        19        20        21        22        23  \
0       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3  16.00000  17.00000  18.00000  19.00000  20.00000  21.00000  22.00000
4  16.72627  26.52627  26.65227  26.65227  26.65227  26.65227  26.52627

         24
0       NaN
1       NaN
2       NaN
3  23.00000
4  21.29727

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_2010.xlsx
                                         fecha           1           2  \
NaN                                        NaN         NaN         NaN
NaN         Precio Bolsa Nacional ($/kWh) 2010         NaN         NaN
Fecha                                        0    1.000000    2.000000
2010-01-01                             124.687  124.687267  124.280267
2010-01-02                             114.503  112.503340  112.503340

                     3           4           5           6           7  \
NaN                NaN         NaN         NaN         NaN         NaN
NaN                NaN         NaN         NaN         NaN         NaN
Fecha         3.000000    4.000000    5.000000    6.000000    7.000000
2010-01-01  124.687267  124.687267  115.844267  114.687267  114.687267
2010-01-02  112.503340  112.503340  112.503340  112.503340  114.311340

                     8           9  ...          15          16          17  \
NaN                NaN         NaN  ...         NaN         NaN         NaN
NaN                NaN         NaN  ...         NaN         NaN         NaN
Fecha         8.000000    9.000000  ...   15.000000   16.000000   17.000000
2010-01-01  114.687267  114.687267  ...  115.844267  114.687267  124.687267
2010-01-02  114.503340  115.503340  ...  115.503340  114.503340  114.503340

                    18          19          20          21          22  \
NaN                NaN         NaN         NaN         NaN         NaN
NaN                NaN         NaN         NaN         NaN         NaN
Fecha        18.000000   19.000000   20.000000   21.000000   22.000000
2010-01-01  128.687267  129.687267  128.687267  124.687267  124.687267
2010-01-02  145.503340  150.503340  130.503340  130.503340  115.503340

                    23       24
NaN                NaN      NaN
NaN                NaN      NaN
Fecha        23.000000  Version
2010-01-01  124.687267      TX5
2010-01-02  115.503340      TX5

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_1996.xlsx
                                fecha     1     2     3     4     5     6  \
0                                 NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  Precio Bolsa Nacional ($/kWh) 1996   NaN   NaN   NaN   NaN   NaN   NaN
2                                 NaN   NaN   NaN   NaN   NaN   NaN   NaN
3                               Fecha   0.0   1.0   2.0   3.0   4.0   5.0
4                          1996-01-01  25.0  18.0  18.0  12.0  12.0  12.0

      7     8     9  ...    15      16      17    18    19    20    21    22  \
0   NaN   NaN   NaN  ...   NaN     NaN     NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN  ...   NaN     NaN     NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN  ...   NaN     NaN     NaN   NaN   NaN   NaN   NaN   NaN
3   6.0   7.0   8.0  ...  14.0  15.000  16.000  17.0  18.0  19.0  20.0  21.0
4  12.0  12.0  12.0  ...  12.0   1.074   1.073   6.0  28.0  28.0  12.0   9.0

     23    24
0   NaN   NaN
1   NaN   NaN
2   NaN   NaN
3  22.0  23.0
4  12.0  12.0

[5 rows x 25 columns]
Precio_Bolsa_Nacional_($kwh)_1998.xlsx

                                fecha          1          2          3  \
0                                 NaN        NaN        NaN        NaN
1  Precio Bolsa Nacional ($/kWh) 1998        NaN        NaN        NaN
2                                 NaN        NaN        NaN        NaN
3                               Fecha    0.00000    1.00000    2.00000
4                 1998-01-01 00:00:00  131.91192  131.20292  131.20292

           4          5          6          7          8          9  ...  \
0        NaN        NaN        NaN        NaN        NaN        NaN  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2        NaN        NaN        NaN        NaN        NaN        NaN  ...
3    3.00000    4.00000    5.00000    6.00000    7.00000    8.00000  ...
4  129.17992  129.54492  124.09892  124.47892  124.47892  129.54492  ...

          15         16         17         18         19         20  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3   14.00000   15.00000   16.00000   17.00000   18.00000   19.00000
4  121.98292  121.98292  121.98292  125.94092  140.47792  140.54792

          21         22         23         24
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN
3   20.00000   21.00000   22.00000   23.00000
4  140.47792  132.21992  125.94092  121.59692

[5 rows x 25 columns]

In [47]:
data.head()

,fecha,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Precio Bolsa Nacional ($/kWh) 1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fecha,0.0,1.000,2.000,3.000,4.000,5.000,6.000,7.000,8.000,...,14.000,15.000,16.000,17.000,18.000,19.000,20.000,21.000,22,23
4,1995-07-20,NaN,1.073,1.073,1.073,1.073,1.073,1.073,1.073,1.074,...,1.073,1.073,1.073,1.073,1.074,1.897,1.897,1.897,1.073,1.073

In [36]:
data = pd.read_excel('datos/precios/Precio_Bolsa_Nacional_($kwh)_1997.xlsx',header=None,names=['fecha'] + [str(i)for i in range(1,25)])
data.drop([0,1,2,3])

,fecha,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
4,1997-01-01 00:00:00,36.72627,26.65227,26.65227,26.65227,26.65227,26.65227,17.22627,17.22627,21.72627,...,26.22627,16.72627,16.72627,26.52627,26.65227,26.65227,26.65227,26.65227,26.52627,21.29727
5,1997-01-02 00:00:00,15.22627,15.22627,15.22627,15.22627,15.22627,15.22627,23.22627,25.12627,26.22627,...,26.22627,23.22627,23.22627,16.92627,26.72627,26.72627,26.72627,26.52627,23.22627,23.22627
6,1997-01-03 00:00:00,20.22627,20.22627,20.22627,20.22627,20.22627,20.22627,20.22627,20.22627,20.22627,...,20.22627,20.22627,20.22627,20.22627,26.09527,26.09527,23.67927,26.09527,26.09527,20.22627
7,1997-01-04 00:00:00,13.16627,13.16627,13.16627,13.16627,13.16627,15.22627,15.22627,15.22627,15.22627,...,15.22627,15.22627,15.22627,15.22627,22.22627,22.22627,22.22627,22.22627,22.22627,13.18127
8,1997-01-05 00:00:00,12.94527,12.22127,13.17627,13.17627,13.17627,13.17627,13.17627,13.17627,13.22627,...,13.17627,13.17627,13.17027,15.22627,22.22627,22.22627,22.22627,22.22627,22.22627,13.18127
9,1997-01-06 00:00:00,13.17627,13.17627,13.17627,13.17627,13.17627,13.17627,13.17627,13.22627,13.22627,...,19.84527,15.22627,15.22627,15.22627,19.22627,19.22627,19.22627,19.22627,19.22627,19.84527
10,1997-01-07 00:00:00,15.22627,13.17627,13.17627,13.17627,13.17627,13.17627,13.22627,20.22627,20.22627,...,20.22627,20.22627,20.22627,20.22627,25.22627,25.22627,24.77627,19.22627,19.22627,20.22627
11,1997-01-08 00:00:00,15.22627,15.22627,15.22627,15.22627,15.22627,15.22627,15.22627,22.22627,22.22627,...,22.22627,22.22627,20.22627,22.22627,21.22627,27.22627,21.22627,21.22627,21.22627,15.22627
12,1997-01-09 00:00:00,15.22627,15.22627,15.22627,15.22627,15.22627,15.22627,13.22627,20.22627,20.22627,...,20.22627,20.22627,13.22627,20.22627,27.22627,27.22627,20.22627,20.22627,20.22627,13.22627
13,1997-01-10 00:00:00,16.22627,16.22627,15.22627,15.22627,20.22627,15.22627,15.22627,16.22627,20.22627,...,20.22627,20.22627,16.22627,20.22627,22.22627,22.22627,22.22627,20.22627,16.22627,15.22627
14,1997-01-11 00:00:00,27.22627,27.22627,20.22627,20.22627,27.22627,20.22627,27.22627,27.22627,27.22627,...,15.22627,13.22627,13.22627,15.22627,20.22627,30.22627,20.22627,15.22627,27.22627,27.22627
15,1997-01-12 00:00:00,27.22627,27.22627,27.22627,27.22627,20.22627,13.22627,13.22627,13.22627,13.22627,...,13.22627,13.22627,13.22627,13.22627,19.22627,20.22627,27.22627,15.22627,27.22627,13.22627
16,1997-01-13 00:00:00,13.17027,13.17027,13.17027,13.17027,13.17227,13.22627,13.22627,28.42627,35.22627,...,28.42627,28.42627,28.42627,14.22627,28.22627,35.22627,27.93527,28.22627,13.22627,13.17227
17,1997-01-14 00:00:00,13.22627,13.22627,13.22627,13.22627,13.22627,17.22627,13.22627,13.22627,13.22627,...,28.42627,28.42627,28.42627,14.22627,32.22627,35.12627,15.22627,30.22627,13.22627,15.22627
18,1997-01-15 00:00:00,15.22627,13.22627,13.22627,13.22627,13.22627,17.22627,17.22627,17.22627,28.42627,...,28.42627,31.22627,31.22627,31.72627,34.82627,34.82627,31.72627,17.22627,28.42627,13.22627
19,1997-01-16 00:00:00,15.22627,13.17027,13.17027,13.17027,15.22627,17.22627,17.22627,17.22627,28.42627,...,31.22627,31.22627,31.22627,32.76027,34.82627,37.58027,28.42627,17.22627,31.22627,28.22627
20,1997-01-17 00:00:00,13.22627,13.22627,13.22627,13.22627,13.22627,17.22627,17.22627,25.22627,25.22627,...,28.42627,28.42627,28.42627,34.82627,34.82627,34.82627,17.22627,28.22627,28.42627,21.22627
21,1997-01-18 00:00:00,13.17027,13.17027,13.17027,13.17027,13.22627,13.17027,13.22627,25.22627,25.22627,...,17.22627,17.22627,17.22627,34.82627,34.82627,34.82627,17.22627,28.22627,28.42627,15.22627
22,1997-01-19 00:00:00,15.22627,13.17027,13.17027,13.17027,13.17027,15.22627,13.17127,15.22627,25.22627,...,17.22627,17.22627,15.22627,32.22627,15.22627,32.22627,17.22627,28.22627,20.22627,15.22627
23,1997-01-20 00:00:00,13.16927,13.16927,13.16927,13.16927,13.16927,13.22627,14.53027,25.22627,25.22627,...,17.22627,17.22627,17.22627,34.82627,34.82627,34.82627,17.22627,28.22627,28.22627,15.22627
24,1997-01-21 00:00:00,17.22627,15.22627,15.22627,15.22627,17.22627,17.22627,17.22627,25.22627,25.22627,...,20.22627,20.22627,20.22627,15.22627,33.82627,33.82627,17.22627,28.22627,20.22627,15.22627
25,1997-01-22 00:00:00,17.22627,17.22627,17.22627,17.22627,17.22627,17.22627,17.22627,17.22627,25.22627,...,25.22627,25.22627,25.22627,29.22627,32.22627,34.82627,18.22627,20.22627,28.22627,13.22627
26,1997-01-23 00:00:00,26.22627,13.22727,13.22727,13.22727,13.22727,17.22627,17.22627,17.22627,25.22627,...,25.22627,25.22627,25.22627,13.22727,31.83227,31.83227,20.22627,20.22627,20.22627,13.22627
27,1997-01-24 00:00:00,26.02627,13.42627,13.42627,13.42627,26.02627,26.02627,29.22627,32.76027,26.02627,...,29.22627,29.22627,29.22627,13.42627,33.35927,33.35927,26.02627,33.77627,29.22627,13.42627
28,1997-01-25 00:00:00,25.22627,25.22627,25.22627,25.22627,26.02627,26.02627,13.42627,13.42627,26.02627,...,13.42627,13.42627,13.42627,13.22727,30.22227,30.22227,25.22627,29.22627,26.02627,26.02627
29,1997-01-26 00:00:00,25.22627,25.22627,25.22627,25.22627,26.02627,13.42627,13.42627,26.02627,13.42627,...,26.02627,26.02627,26.02627,13.22827,29.22627,33.32627,25.22627,29.22627,26.02627,26.02627
30,1997-01-27 00:00:00,25.22627,25.22627,25.22627,25.22627,25.22627,26.02627,26.02627,25.22627,26.02627,...,13.42627,13.42627,13.42627,29.22627,33.82627,33.82627,25.22627,29.22627,26.02627,25.22627
31,1997-01-28 00:00:00,25.22627,25.22627,25.22627,25.22627,25.22627,25.22627,25.22627,25.22627,25.22627,...,13.42627,13.42627,13.42627,29.22627,33.82627,33.82627,25.22627,25.22627,25.22627,13.42627
32,1997-01-29 00:00:00,25.22627,25.22627,25.22627,25.22627,20.22627,25.22627,20.22627,20.22627,20.22627,...,29.22627,29.22627,29.22627,34.82627,33.82627,33.82627,20.22627,29.22627,25.22627,13.72627
33,1997-01-30 00:00:00,25.22627,25.22627,25.22627,25.22627,29.22627,25.22627,25.22627,20.22627,29.22627,...,30.72627,30.22627,30.72627,29.22627,33.82627,33.82627,29.22627,25.22627,29.22627,13.72627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,1997-12-02 00:00:00,118.56475,91.68475,91.68475,113.92175,118.56475,128.99475,128.99475,128.99475,131.24875,...,148.03775,148.03775,148.03775,148.83875,150.73975,148.83875,148.03775,145.29175,139.23275,133.13175
340,1997-12-03 00:00:00,118.56475,110.56475,110.56475,110.56475,136.60275,166.60875,167.13475,170.48375,183.64475,...,138.51575,131.90975,131.90975,147.32775,148.60275,148.60275,147.80875,147.32775,136.88975,122.12475
341,1997-12-04 00:00:00,117.22675,113.56475,113.56475,113.56475,117.22675,117.22675,142.93175,143.07875,143.07875,...,138.97975,138.25775,138.25775,143.71275,144.58875,144.58875,144.58875,143.71275,134.68975,134.68975
342,1997-12-05 00:00:00,91.92475,91.92475,91.92475,91.92475,91.92475,134.64075,134.64075,138.74075,138.74075,...,139.86975,139.86975,139.86975,141.39975,144.49775,142.15675,142.15675,141.39975,139.86975,136.74775
343,1997-12-06 00:00:00,116.54775,116.54775,116.54775,116.54775,116.54775,119.76175,119.76175,119.76175,134.94975,...,142.14275,142.14275,142.14275,160.62075,163.39575,163.39575,163.39575,160.92875,129.33575,128.93275
344,1997-12-07 00:00:00,121.12875,119.23775,119.23775,126.96975,126.96975,121.12875,126.96975,142.07175,142.07175,...,125.22975,125.22975,125.22975,157.78775,161.16475,161.16475,159.22175,157.92575,125.22975,121.34475
345,1997-12-08 00:00:00,112.32275,99.89975,99.89975,112.32275,112.32275,112.32275,112.32275,125.15675,125.15675,...,108.33175,108.33175,108.33175,148.06475,160.78775,160.78775,160.78775,157.01275,112.55975,112.55975
346,1997-12-09 00:00:00,98.46975,98.46975,98.46975,108.05975,101.80375,108.05975,112.46675,137.82175,140.36175,...,124.69475,124.69475,124.69475,160.58175,163.01575,163.01575,163.01575,160.58175,124.69475,121.06075
347,1997-12-10 00:00:00,99.72275,99.72275,99.72075,120.91975,99.72075,103.72975,124.41075,124.64275,124.64275,...,125.03875,125.03875,125.03875,129.49675,158.68475,158.68475,114.16875,109.57075,125.03875,101.01375
348,1997-12-11 00:00:00,99.85475,84.23675,130.92275,124.48875,136.33175,139.49075,139.49075,150.30175,150.87575,...,121.60875,121.60875,121.60875,121.60875,134.17775,134.17775,126.83575,126.63675,120.53275,102.09775
349,1997-12-12 00:00:00,101.76775,84.67475,64.31975,80.18075,101.76775,102.27875,120.25575,121.32375,121.32375,...,124.02575,127.79875,127.79875,127.79875,129.58375,129.58375,129.58375,129.58375,124.02575,123.14675
350,1997-12-13 00:00:00,144.49975,116.26475,116.26475,80.18175,122.10175,123.14675,123.93275,126.85975,126.85975,...,120.42775,120.42775,120.42775,120.42775,134.13475,134.13475,134.13475,126.73575,120.42775,108.04375
351,1997-12-14 00:00:00,103.98275,97.76775,97.76775,110.96875,97.76775,103.98275,116.68875,119.77875,120.13475,...,122.64575,122.64575,122.64575,122.64575,129.32775,129.32775,127.72475,127.72475,122.64575,110.45475
352,1997-12-15 00:00:00,110.12575,110.12575,109.68675,121.13075,110.12575,110.12575,123.26975,127.42375,127.42375,...,135.00975,135.00975,135.00975,138.73575,144.83275,144.83275,144.83275,141.61975,138.73575,133.93775
353,1997-12-16 00:00:00,105.54875,105.54875,105.54875,118.12975,105.54875,106.66875,123.30575,123.30575,123.30575,...,146.09875,146.09875,131.85375,134.81375,145.06875,146.46875,145.06875,134.81375,120.45775,115.13475
354,1997-12-17 00:00:00,125.10575,110.13175,110.13175,110.13175,125.10575,117.26175,131.54075,144.88775,133.52575,...,148.12075,148.12075,148.12075,155.78575,215.46875,215.46875,215.46875,155.78575,148.12075,142.31975
355,1997-12-18 00:00:00,142.05775,114.25775,114.25775,114.25775,142.05775,142.05775,146.42775,147.85275,147.85275,...,150.53775,150.53775,150.53775,152.95475,167.26075,167.26075,167.26075,158.90375,150.53775,145.04475
356,1997-12-19 00:00:00,144.75675,152.70075,130.24775,152.70075,162.32975,167.58075,167.58075,167.58075,144.75675,...,146.62375,146.62375,146.62375,146.62375,153.12475,153.12475,152.54475,152.54475,146.62375,144.32975
357,1997-12-20 00:00:00,124.49575,109.45675,100.05075,100.05075,124.49575,109.45675,137.22675,146.36175,146.36175,...,129.41775,124.49575,124.49575,126.06275,137.22675,137.22675,137.22675,132.14875,126.06275,109.45675
358,1997-12-21 00:00:00,88.86475,50.49675,50.49675,50.49675,80.22675,50.49675,80.22675,124.20275,124.20275,...,136.04175,130.70675,136.04175,136.04175,140.62775,140.62775,140.62775,140.62775,140.61075,119.79075
359,1997-12-22 00:00:00,126.96875,109.56275,109.56275,109.56275,130.57975,119.91575,136.15275,140.32575,140.32675,...,125.18775,138.69475,138.69475,141.18675,150.50475,144.38975,144.38975,141.18675,138.69475,123.75875
360,1997-12-23 00:00:00,113.78175,113.78175,113.78175,113.78175,122.99075,122.99075,122.99075,124.87175,127.61575,...,124.30175,124.30175,127.27475,124.87175,144.07875,144.07875,144.07875,127.61575,124.87175,122.99075
361,1997-12-24 00:00:00,129.27275,125.91075,125.91075,125.91075,129.26975,125.91375,129.27275,129.27275,132.46775,...,126.65275,126.65275,126.95675,126.65275,130.55875,133.57475,130.07775,126.65275,126.65275,118.69575
362,1997-12-25 00:00:00,114.88075,98.88275,72.15775,72.15775,72.15775,72.15775,72.15775,72.15775,72.15775,...,70.76675,70.76675,70.76675,70.76675,124.47675,132.55175,132.48675,118.51875,116.89675,70.76675
363,1997-12-26 00:00:00,74.02775,70.73175,70.73175,70.73175,74.02775,70.73175,119.06775,119.06775,120.85075,...,128.44075,128.44075,128.44075,128.44075,134.14175,134.14175,132.24375,128.95875,128.95875,118.38575
364,1997-12-27 00:00:00,120.22075,115.77975,115.77975,115.77975,120.22075,117.72775,120.55275,128.12375,128.63375,...,122.80475,121.66275,121.66275,128.12375,135.21075,135.21075,132.83175,127.23075,129.56175,119.19475
365,1997-12-28 00:00:00,121.32575,115.75175,115.75175,115.75175,118.27875,115.75175,118.27875,121.32575,121.32575,...,129.61475,129.35375,129.35375,129.61475,137.92975,139.46375,139.46375,137.55775,137.55775,127.55775
366,1997-12-29 00:00:00,129.18575,126.96275,126.96275,126.96275,129.18575,129.18575,137.24875,137.24875,137.24875,...,135.37975,189.67275,189.67275,189.67275,191.57775,191.57775,191.57775,189.67275,189.60275,186.09675
367,1997-12-30 00:00:00,88.88075,88.88075,88.88075,88.88075,63.24675,122.12775,124.54575,130.75975,130.87675,...,126.77775,126.77775,129.64275,125.98775,137.08575,140.71475,137.08575,133.19575,133.19575,101.34475
368,1997-12-31 00:00:00,99.50175,99.05675,99.05675,99.05675,99.50175,99.05675,101.68975,123.63175,123.63175,...,133.31075,133.31075,133.31075,133.31075,142.06375,142.06375,142.06375,133.95875,133.95875,133.60675

In [25]:
lista = ['fecha'] + [str(i)for i in range(1,25)]
print(lista)

['fecha', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']

In [16]:
data.head()

,Precio Bolsa Nacional ($/kWh) 2008,Precio Bolsa Nacional ($/kWh) 2009,Unnamed: 0,Unnamed: 1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,...,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,nan,Precio Bolsa Nacional ($/kWh) 2006,Precio Bolsa Nacional ($/kWh) 2007,Precio Bolsa Nacional ($/kWh) 2002,Precio Bolsa Nacional ($/kWh) 2001,Precio Bolsa Nacional ($/kWh) 2004
0,NaN,NaN,Precio Bolsa Nacional ($/kWh) 1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Fecha,0,9.000,10.000,11.000,12.000,13.000,14.000,...,5.000,6.000,7.000,8.000,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,1995-07-20,NaN,1.074,2.827,2.827,2.827,1.074,1.073,...,1.073,1.073,1.073,1.074,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1995-07-21,1.073,6.000,6.000,9.256,9.256,5.000,5.000,...,1.000,5.000,6.000,6.000,NaN,NaN,NaN,NaN,NaN,NaN